/* Banner.css */
.banner-container {
    width: 100%;
    /*height: 200px;  Adjust the height of the banner as needed */
    position: fixed; /* Keeps the banner fixed at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Make sure the banner stays on top */
  }
  
  .banner-image {
    width: 100%; /* Span the image across the full width */
    height: 100%; /* Make the image fit the banner height */
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
  }
  