@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

.display-container {
  display: flex;
  flex-wrap: wrap; /* Allows the images to wrap to the next line if the screen is too small */
  justify-content: center; /* Centers the content horizontally */
  width: 100%;
  padding: 20px;
}

.display-content {
  display: flex;
  flex-direction: column; /* Aligns content vertically */
  justify-content: flex-start;
  align-items: center;
  width: 300px; /* Width of each image block */
  margin: 20px; /* Space between each image block */
  transition: opacity 0.3s ease-in-out;
}

.image-section {
  width: 100%;
  text-align: center;
}

.text-section-display {
  text-align: center;
  margin-top: 10px;
}

.display-image {
  width: 100%;
  height: 300px; /* Fixed height for each image */
  object-fit: cover;
  border-radius: 20px;
}

.shift-crop {
  object-position: top; /* This will shift the image cropping upwards */
}

.display-header {
  margin-top: 10px;
  font-size: 24px;
  color: #333;
  font-family: 'Playpen Sans', sans-serif;
}

.display-description {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  font-family: 'Playpen Sans', sans-serif;
}

.social-media-buttons {
  margin-top: 10px;
}

.social-buttons-small {
  margin: 0 10px;
  font-size: 30px;
  color: #000000;
}

.social-buttons-small:hover {
  color: rgb(14, 134, 246);
}
