/* ImageSlideshow.css */
.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 20px;
    margin: auto;
  }
  
  .slider-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%; /* Adjust as needed */
    gap: 20px;
  }
  
  .slider-image-container {
    flex: 1;
  }
  
  .slider-image {
    width: 400px;
    height: auto;
    border-radius: 20px;
  }
  
  .slider-text {
    flex: 1;
    padding: 0 20px;
    font-family: 'American Typewriter', serif;
  }
  
  .slider-header {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'American Typewriter', serif;
  }
  
  .slider-description {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'American Typewriter', serif;
  }
  
  /* Fade transitions */
  .fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  /* Navigation arrows */
  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    padding-top: 8px;
    transform: translateY(-50%);
    background-color: transparent;
    border-radius: 25%;
    border-color: #000000;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    color: #000000;
    transition: color ease 0.3s, border-color ease 0.3s;
  }

  .left-arrow:hover, .right-arrow:hover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border-radius: 25%;
    border-color: rgb(14, 134, 246);
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    color: rgb(14, 134, 246);
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  