/* styles.css */

.social-buttons {
    color: black;
    font-size: 50px;
    transition: color 0.3s ease, fill 0.3s ease;;
    margin: 20px;
    border-radius: 25%;
    display: inline-block;
}

.social-buttons:hover {
    color: rgb(14, 134, 246);
    fill: rgb(14, 134, 246) ;
    font-size: 50px;
}

.social-buttons svg path {
    color: black;
    font-size: 50px;
    transition: color 0.3s ease, fill 0.3s ease;;
    margin: 20px;
    border-radius: 25%;
    display: inline-block;
}

.social-buttons:hover svg path {
    fill: rgb(14, 134, 246);
}
