/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

body {
  background: url('https://www.transparenttextures.com/patterns/lined-paper.png'); 
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 100px;
}

h1{
  font-family: 'Playpen Sans', sans-serif;
  font-size: 50px;
  text-align: center;
}

h2{
  font-family: 'Playpen Sans', sans-serif;
  font-size: 40px;
}

p{
  font-family: 'Playpen Sans', sans-serif;
  font-size: 24px;
}

.logo-container {
  margin-bottom: 20px;
}

.social-buttons a {
  margin: 0 10px;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

.text-section {
  margin: 20px 0;
}

.Slider {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;   
}

.FullBlogImg {
  max-width: 400px;
  align-items: center;
  border-radius: 10%;
  text-align: center;
}