/* App.css */

body {
  background: url('https://www.transparenttextures.com/patterns/gplay.png'); 
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1{
  font-family: 'American Typewriter', serif;
  font-size: 50px
}

.logo-container {
  margin-bottom: 20px;
}

.social-buttons a {
  margin: 0 10px;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

.text-section {
  margin: 20px 0;
}

.Slider {
  padding: 20px;
}